body{
    margin: 0;
}
p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.container{
    width: 100vw;
    height: 100vh;
}
.pressButton{
    width: 100px;
    height: 40px;
    color: white;
    border: 1px solid #4f5555;
    border-radius: 5px;
    background-color:#4f5555;
    transition: all 0.5s;
}
.pressButton:hover{
    color: #4f5555;
    background-color: white;
}
/*header 시작*/
.header{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    background: linear-gradient(cornflowerblue,darkslateblue);
    padding: 80px;
    padding-bottom: 0;
    position: relative;
}
.headerText{
    float: left;
    width: 50%;
    height: 100%;
    color: white;
}
.headerText div{
    font-size: 45px;
}

.header img{
    display: block;
    float: right;
    margin-top: 70px;
    width: 400px;
    height: 450px;
}

/*Show Portfolio 시작*/
.showPortfolio{
    width: 60%;
    height: 10%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.showPortfolio div{
    font-weight: bold;
}

/*Service 시작*/
.serviceBackground{
    background-color: slateblue;
}
.serviceFontColor{
    color: white;
}
.serviceBigtext{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.service{
    padding: 1px;
    width: 100%;
    height: 400px;
}
.serviceText{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.serviceText:nth-child(1){
    font-weight: lighter;
}
.serviceFlex{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}
.flexItem{
    width: 20%;
    text-align: center;
}
.serviceMargin:nth-child(2){
    font-weight: lighter;
}
.flexItem i{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    background-color: white;
    border-radius: 50%;
    padding-top: 25px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: slateblue;
    transition: all 0.5s;
}
.flexItem i:hover{
    color:white;
    background-color: slateblue;
}
/*todo컨테이너*/
.todoContainer{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding:80px;
}
.todoText{
    margin-top:0;
}
.todoTable{
    width: 60%;
    height: 90%;
    margin: auto;
}
.todoItem{
    width: 50%;
    height: 50%;
    float: left;
}
.overlayWrap{
    width: 100%;
    height: 100%;
    position: relative;
}
.overlayFadeIn{
    background-size: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    z-index: 1;
}
.todoItem img{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.overlayWrap:hover .overlayFadeIn{
    border: 20px solid white;
}

/*footer 시작*/
footer{
    width: 100%;
}
.footerIcon{
    display: flex;
    justify-content: center;
}
.footerFlexItem{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-radius: 50px;
    background-color: slateblue;
    font-size: 15px;
    color:white;
    transition: all 0.5s;
}
.footerFlexItem:hover{
    color: slateblue;
    background-color: white;
}
.emptyItem{
    width: 30px;
}
.footerText{
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
}



@media screen and (max-width: 768px) {
    .header{
        height: 100vh;
        position: relative;
    }
    .headerText{
        float: none;
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .headerText div{
        font-size:45px;
    }
    .header img{
        float:none;
        width: 250px;
        height: 350px;
        position: relative;
        margin: auto;
        bottom: 10%;
    }
    .todoContainer{
        width: 100vw;
        padding: 0;
    }
    .todoTable{
        width: 100%;
    }
}